.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.toggleButtons {
  background-color: #73cea7; /* Green */
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logo-image {
  width: 1px;
  height: 1px;
}

.submitButton {
  font-family: roboto;
  background-color: #73cea7; 
  border: none;
  color: #73cea7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #858bca;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  background-color: #858bca;
  min-height: 1vh;
  display: flex;
  padding:10px;
  margin: 0 auto;
}

.wrapper{
  font-family: roboto;
  border: 2px solid #767581;
  background:#ffffff;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.submitwrapper{
  font-family: roboto;
  border: 2px solid #767581;
  background:#ffffff;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.buttonB {
  position: absolute;
  top:50%;
  background-color:#0a0a23;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
